@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,700;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(236, 209, 172, 0.479);
    margin-bottom: 8rem;
}

h1{
    font-size: 60px;
    margin-top: 5rem;
    font-family: "Roboto" , sans-serif;
}

.box1{
    margin-top: 3rem;
    width: 600px;
    height: 420px;
    border: solid 1px black;
    border-radius: 20px;
    background-color:  white;
    box-shadow: 10px 8px 2px #000000 ;
}


.box1 h2{
    text-align: center;
    font-size: 40px;
    margin-top: 15px;
    padding: 15px;
    text-shadow: 0px 0px 5px ;
    color: #5b5a5a99;
    font-family: "Roboto" , sans-serif;
    font-weight: 900;
    font-style: italic;
    text-shadow: 1px 1px 2px #000000 ;
}

.box1 input{
    background-color: antiquewhite;
    margin: 0px 15px;
    border-radius: 11px;
    width: 80%;
    padding: 7px;
    box-shadow: 5px 5px;
    font-family: "Poppins" , sans-serif;
    font-weight: 500;
    font-style: italic;
}

.box1 p{
    font-family: "Roboto" , sans-serif;
    font-weight: 700;
    font-style: italic;
    margin-top: 0.7rem;
    font-size: 25px;
    margin-left: 15px;
}

#result{
    text-align: start;
    cursor: pointer;
    color: #fffbfb;
    font-size: 18px;
    margin: 30px 17px;
    width: 50%;
    padding: 5px;
    border-radius: 10px;
    background-color: #0b6ef0c9;
    box-shadow: 5px 5px;
    text-shadow: 1px 1px 2px black;
    font-family: "Poppins" , sans-serif;
    font-weight: 500;
    font-style: italic;
}

.box2{
    margin-top: 3rem;
    width: 600px;
    height: 440px;
    border: solid 1px black;
    border-radius: 20px;
    background-color:  white;
    box-shadow: 10px 8px 2px #000000 ;
}
.box2 h2{
    text-align: center;
    font-size: 40px;
    margin-top: 15px;
    padding: 15px;
    text-shadow: 0px 0px 5px ;
    color: #5b5a5a99;
    font-family: "Roboto" , sans-serif;
    font-weight: 900;
    font-style: italic;
    text-shadow: 1px 1px 2px #000000 ;
}

.box2 input{
    background-color: antiquewhite;
    margin: 5px 15px;
    border-radius: 11px;
    width: 80%;
    padding: 7px;
    box-shadow: 5px 5px;
    font-family: "Poppins" , sans-serif;
    font-weight: 500;
    font-style: italic;
}

.box2 p{
    font-family: "Roboto" , sans-serif;
    font-weight: 700;
    font-style: italic;
    margin-top: 0.7rem;
    font-size: 25px;
    margin-left: 15px;
}

#mensagem{
    margin-top: 8px;
    font-size: 2rem;
    color: #DA2D11;
    padding-left: 20px;
}